<%= render "shared/header" %>

<div class='category-content'>
  <h2>カテゴリー一覧</h2>
  <div class='category-nav'>
    <% @categorys.each do |category| %>
      <div class='category-link'>
        <%=link_to category.name, '#' %>
      </div>
    <% end %>
  </div> 
</div>