.user-content {
  height: auto;
  width: 100%;
  background-color: #eee;
}

// ユーザー詳細
.user-show {
  width: 90%;
  margin: 0 auto;
}

// ユーザー詳細画面上部
.user-data {
  height: 30vh;
  margin-bottom: 10vh;
  position: relative;
}

.user-background {
  padding-top: 5vh;
  object-fit: cover;
}

.user-data > p {
  position: absolute;
  top: 100%;
  left: 15%;
  font-size: 1.2rem;
  font-weight: bold;
}

.user-icon {
  position: absolute;
  top: 70%;
  left: 3%;
  height: auto;
  width: 10%;
  background-color: #fff;
  border-radius: 50%;
}

.user-show-info {
  display: flex;
  padding-bottom: 5vh;
}

// ユーザー詳細サイドバー
.user-show-left {
  padding: 0 3vw 0 0;
  width: 22%;
  box-sizing: content-box;
}

.user-profile {
  min-height: 1rem;
  margin-bottom: 2vh;
}

.user-profile, .user-setting {
  border: 1px solid #acacac;
  background-color: #fff;
}

.user-profile-title, .user-setting-title {
  padding: 10px 1vw;
  border-bottom: 1px solid #acacac;
  font-weight: bold;
}

.user-profile-text, .user-setting-profile {
  padding: 10px 1vw;
}

// ユーザー出品商品一覧
.user-show-light {
  border: 1px solid #acacac;
  background-color: #fff;
  width: 78%;
}

.user-item {
  padding: 0 2vw;
}

// ユーザー商品一覧
.user-item > .item-contents {
  padding: 2vh 0;
}

.user-item > .item-contents > .item-lists {
  width: 100%;
}

// ユーザー設定欄
.user-setting-profile {
  color: #000;
  display: flex;
  justify-content: space-between;
}

.user-setting-profile:hover {
  background-color: #eee;
}